<div style='position:absolute;top:0;left:0;right:0;height:41px;background-color:#FFD800'>
  <div style='position:absolute;top:2px;right:15px;padding:0 4px;background:#f9f9f9;'>
    <audio controls id="jp_audio_0" preload="none" [src]="radioService.radioUrl" autoplay></audio>
    <div class='pull-right' style="position:relative;display:inline-block;height:37px;margin-left:6px;padding:6px 0">
      <button class='btn btn.primary btn-xs' (click)='radioService.radioToggle()'>Radio ({{ radioService.radioUrl == null || radioService.radioUrl == '' ? 'OFF' : 'ON'  }})</button>
    </div>
  </div>
</div>
<div style='position:absolute;top:41px;left:0;width:260px;bottom:0;border-right:1px solid #ccc;padding:10px 0px 10px 6px'>
  <ul id='main-side-menu' class='nav nav-pills nav-stacked'>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/studio']">Studio</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/music']">Music</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/news']">News</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/account']">Account</a></li>
  </ul>
</div>
<div style="position:absolute;top:41px;left:260px;right:0;bottom:0">
  <router-outlet></router-outlet>
</div>