<div style='position:relative;height:100%;padding:0 15px;'>
  <div style='position:relative;height:60px;border-bottom:2px solid #FFD800; color:#FFD800;padding:0px 15px'>
    <span style='display:inline-block;height:60px;line-height:60px;font-size:26px;'>Studio</span>
    <div class='pull-right' style='padding:12px 0'>
      <button class="btn btn-primary pull-right" onclick="document.querySelector('#dialog').style.display = 'block';"><ng-fa name="plus"></ng-fa> Add Playlist Item</button>
    </div>
  </div>
  <div style='position:absolute;top:65px;left:15px;right:15px;height:45px;'>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav topbar">
            <li [routerLinkActive]="['active']" class='active'><a [routerLink]="['playlist']">Playlist</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['request']">Request</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['visitor']">Visitors</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div style='position:absolute;top:120px;left:15px;right:15px;bottom:15px;padding:1px;'>
    <div class="row" style='height:100%'>
      <div class="col-sm-8" style='height:100%;padding-top:1px; padding-bottom:2px;padding-right:0'>
        <div style='position:relative;height:100%;box-shadow:0 0 2px 0 rgba(120,120,120,0.6);overflow-y:auto;'>
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-sm-4" style='height:100%;padding-top:1px; padding-bottom:2px;padding-left:6px;'>
        <div style='position:relative;height:100%;box-shadow:0 0 2px 0 rgba(120,120,120,0.6);overflow-y:auto;'>
          <div style='position:absolute;left:0; right:0; height:32px; background: #efefef; border-bottom:2px solid #ccc; padding:6px;'>
            <strong>Chat</strong>
          </div>
          <div style='position:absolute;left:0;right:0;top:32px;bottom:0;overflow-y:auto;padding:6px;'>
            <app-chat></app-chat>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='dialog' class='dialog'>
      <div class='dialog-window' style="width:80%;height:100%;">
        <div class='dialog-header'>
          <span class='dialog-title'>Add Playlist</span>
          <button class='btn btn-primary btn-xs pull-right' onclick="document.getElementById('dialog').style.display='none';"><ng-fa name="times"></ng-fa></button>
        </div>
        <div class='dialog-body'>
          
        </div>
        <div class='dialog-footer'>
          <button class="btn btn-primary pull-right" style='min-width:120px;' onclick="document.getElementById('dialog').style.display='none';">Save</button>
        </div>
      </div>
    </div>
</div>